/* ###################################### */
/* ######### Custom Style sheet ######### */
/* ###################################### */
.button,
.button2 {
  color: var(--color-bg-primary);
  transition: 0.3s ease all;
  line-height: 1.5rem;
  cursor: pointer;
  &.button-sm {
    line-height: 1.5rem;
  }
  &.button-lg {
    line-height: 2rem;
  }
}
/* Default button style */
.button {
  background: var(--color-orange2);
  padding: 0.7rem 4rem;
  border: 0px;
  border-radius: 30px;
  &:hover {
    background-color: var(--color-orange2-shade);
  }
}
/* Default button2 style */
.button2 {
  background: transparent;
  padding: 0.7rem 1rem;
  border: 2px solid var(--color-bg-primary);
  &:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-bg-primary-2);
  }
}
/* Default input style */
input {
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 8px;
  border: 2px solid #fff;
  width: 100%;
  &:focus {
    outline: none;
  }
  &.input-sm {
    line-height: 1.5rem;
  }
  &.input-lg {
    line-height: 2rem;
    font-size: 1.1rem;
  }
  &.button,
  &.button2 {
    width: auto;
  }
}
/* Default anchor style */
a {
  color: var(--color-bg-primary);
  transition: opacity 0.3s ease-in;
  padding: 0.1rem;
  font-size: 0.9rem;
  &:hover {
    color: var(--color-bg-primary-offset);
    transition: opacity 0.3s ease-in;
  }
}
/* Default paragraph style */
p {
  font-size: 0.9rem;
}

/* Default footer style */
footer {
  padding-top: 80px;
  color: var(--color-bg-primary);
  background: var(--color-bg-primary-2);
  #copyright-wrapper {
    color: var(--color-bg-primary-2);
  }

  .social-media-item .fa {
    font-size: 1.5rem;
  }
  .input-group-append .btn {
    border: 1px solid var(--color-bg-primary);
    color: var(--color-orange2);
    &:hover {
      background: var(--color-bg-primary);
      color: var(--color-orange2);
      transition: all 0.3s ease-in;
    }
  }
}

/* Hide arrows from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Default icon style */
.fa {
  font-size: 1rem;
}
/* Default select list style */
.select-menu {
  flex-direction: column;
  background-color: var(--color-bg-secondary);
  box-shadow: 0 10px 20px rgba(#404040, 0.15);
  width: 100%;
  right: 0px;
  margin-top: 0px;
  position: absolute;
  top: calc(100% + 5px);
  z-index: 9999;
  color: var(--color-bg-primary-2);
  border: 1px solid rgba(0, 0, 0, 0.15);
  li {
    line-height: 40px;
    .select-menu__button {
      font: inherit;
      font-weight: 600;
      border: 0;
      padding-right: 36px;
      width: 100%;
      text-align: left;
      display: flex;
      font-size: 0.9rem;
      align-items: center;
      position: relative;
      display: inline-block;
      color: var(--color-text-primary-offset);
      padding: 0 8px;
      background-color: var(--color-bg-secondary);
      &:hover {
        background-color: var(--color-bg-primary-offset);
        & + .menu-sub-list {
          display: flex;
        }
      }
    }
  }
}
.bg-img {
