:root {
  --color-orange: #dc9960;
  --color-green: #1eb8b1;
  --color-purple: #657cc4;
  --color-black: var(--color-text-primary);
  --color-red: #d92027;

  --color-bg-primary: #fff;
  --color-bg-primary-offset: #f8f9f9;
  --color-bg-secondary: #f3f3f8;
  --color-text-primary: #8a9099;
  --color-text-primary-offset: #3e4958;
  --color-green: #11939a;
  --color-green-shade: #199994;
  --color-pink: #926dde;
  --color-yellow: #fdc501;
  // ALERT
  --color-success: #1aaa55;
  --color-warning: #fc9403;
  --color-info: #1f78d1;
  --color-error: #db3b21;
}

// GENERAL STYLE
html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  position: relative;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
}

/* ###################################### */
/* ######### Custom Style sheet ######### */
/* ###################################### */
.button,
.button2 {
  color: var(--color-bg-primary);
  transition: 0.3s ease all;
  line-height: 1.5rem;
  cursor: pointer;
  &.button-sm {
    line-height: 1.5rem;
  }
  &.button-lg {
    line-height: 2rem;
  }
}
/* Default button style */
.button {
  background: var(--color-orange2);
  padding: 0.7rem 4rem;
  border: 0px;
  border-radius: 30px;
  &:hover {
    background-color: var(--color-orange2-shade);
  }
}
/* Default button2 style */
.button2 {
  background: transparent;
  padding: 0.7rem 1rem;
  border: 2px solid var(--color-bg-primary);
  &:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-bg-primary-2);
  }
}
/* Default input style */
input {
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 8px;
  border: 2px solid #fff;
  width: 100%;
  &:focus {
    outline: none;
  }
  &.input-sm {
    line-height: 1.5rem;
  }
  &.input-lg {
    line-height: 2rem;
    font-size: 1.1rem;
  }
  &.button,
  &.button2 {
    width: auto;
  }
  &::placeholder {
  }
}
/* Default anchor style */
a {
  color: var(--color-bg-primary);
  transition: opacity 0.3s ease-in;
  padding: 0.1rem;
  font-size: 0.9rem;
  &:hover {
    color: var(--color-bg-primary-offset);
    transition: opacity 0.3s ease-in;
  }
}
/* Default paragraph style */
p {
  font-size: 0.9rem;
}

/* Default footer style */
footer {
  padding-top: 80px;
  color: var(--color-bg-primary);
  background: var(--color-bg-primary-2);
  #copyright-wrapper {
    color: var(--color-bg-primary-2);
  }
}
/* Default icon style */
.fa {
  font-size: 1rem;
}
