:root {
  --color-orange: #dc9960;
  --color-green: #1eb8b1;
  --color-purple: #657cc4;
  --color-black: var(--color-text-primary);
  --color-red: #d92027;

  --color-bg-primary: #d0d6df;
  --color-bg-primary-offset: #f8f9f9;
  --color-bg-secondary: #fff;
  --color-text-primary: #8a9099;
  --color-text-primary-offset: #3e4958;
  --color-yellow: #fdc501;
}
